.sidenav-container {
  position: sticky;
  top: 0px;
  bottom: 0px;
  background-color: #010101;
}

.main-nav{
  z-index: 1003;
}
.sidenav {
  width: 200px;
  height: 80px;
  background-color: #010101;
  color: #e5e5e5;
}
mat-nav-list a{
  color: #e5e5e5;
  cursor: pointer;
  font-family: 'Poiret One', cursive;
  color: #e5e5e5;
  transition:0.3s;
}
.mat-sidenav-content{
  height: 80px;
}
mat-nav-list a:hover{
  color:#f75e50;
}

.sidenav .mat-toolbar {
  background: inherit;
  background-color: #010101;
}

.mat-toolbar.mat-primary {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 1;
}
.mat-drawer.mat-drawer-side {
  background-color: #010101;
  color:#fff;
}
.mat-toolbar-single-row {
  background-color: #010101;
}

.header-bar{
  position: sticky;
  top:0;
  height: 100%;
  width: 100%;
  z-index: 30;
}

.header-bar::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(7, 7, 7, 0.8);
  background: #070707cc;
  transition: 0.3s;
}

.header{
  height: 100%;;
}

.header-content-wrapper{
  height: 100%;;
}
.header-logo-wrapper{
  height: 60px;
  width:100%
}

.fonok-logo{
  background-position: center center;
  background-size:cover;
  background-repeat:no-repeat;
  height: 100%;
  width: 100%;
}

nav{
}

.fonok-menubar li{
  list-style: none;
  float: left;
}

.fonok-menubar li a{
  font-family: 'Poiret One', cursive;
  font-size: 1em;
  color: #e5e5e5;
  transition:0.3s;
}

.fonok-menubar li a:hover{
  color:#f75e50;
}

.fonok-menubar li a.router-link-active{
  color:#f75e50;
}

.mat-button-ripple-round:focus{
  border: none;
  outline: none;
}
