<div class="container-fluid about-us-wrapper">
  <div class="body-grid-lines"></div>
  <div class="row">
    <div class="container-fluid particle-header">
      <div class="row">
        <!--
        <div class="container">
          <div class="row">
              <div id="section-title-pricing-plan">Fonok's Photobox</div>
          </div>
        </div>
        <div class="container-fluid section-title-bg">
          <div style="background-image:url('./assets/images/price-list2.jpg')"></div>
        </div>
        -->
        <!--
        <div class="container-fluid" id = "particle-container">
          <particles [style]="particleStyle" [params]="particleParams" class="row"></particles>
        </div>
        -->
      </div>
    </div>
    <div class="body-grid-lines"></div>
    <div class="container about-box-wrapper">
      <div class="row about-details-container">
        <div class="col-6">
          <div class="row">
            <p class="about-us-sub-header">WHAT WE Are</p>
          </div>
          <div class="row">
            <h1 class="about-us-feature-header">About Us</h1>
          </div>
          <div class="row">
            <div class="header-bottom-line"></div>
          </div>
          <div class="row">
            <p class="about-us-boyan">Through our best-in-class techniques and bespoke growth plans we assess digital problems and
               put in place strategies that lead to commercial success.
               This means achieving what matters most to you. Whether that’s creating a phenomenal brand,
               a highly-optimised eCommerce website,
               a digital marketing strategy that delivers quality leads – or all 3.
               We know how to make it happen.
            </p>
          </div>
          <div class="row">
              <div class="col-lg-6">
                <div class="row">
                  <img src="./assets/images/lens-hood.png" alt="camera-icon.png" class="about-icon content-center">
                  <span class="about-icon-counter primary-red-color">132</span>
                  <span class="col-5 about-icon-details content-center ">Pounds of Equipment</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row">
                  <img src="./assets/images/camera-icon.png" alt="camera-icon.png" class="about-icon content-center">
                  <span class="about-icon-counter primary-red-color">280</span>
                  <span class="col-5 about-icon-details content-center ">Finished Photosessions</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row">
                  <img src="./assets/images/photographer-umbrella.png" alt="camera-icon.png" class="about-icon content-center">
                  <span class="about-icon-counter primary-red-color">195</span>
                  <span class="col-5 about-icon-details content-center ">Studio Sessions</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row">
                  <img src="./assets/images/camera-focus.png" alt="camera-icon.png" class="about-icon content-center">
                  <span class="about-icon-counter primary-red-color">253</span>
                  <span class="col-5 about-icon-details content-center ">Happy Clients</span>
                </div>
              </div>
          </div>
        </div>
        <div class="col-6 about-photo-container">
          <div class="row about-photo" style="background-image: url('./assets/images/bg-about-me.jpg')"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <p class="about-us-sub-header">see our works</p>
          </div>
          <div class="row">
            <h1 class="about-us-feature-header">Photobox</h1>
          </div>
          <div class="row">
            <div class="header-bottom-line"></div>
          </div>
          <div class="row about-photobox-wrapper">
            <a href="#" class="col-4 about-photobox-grid">
              <div class="row about-photobox-img-container" style="background-image:url('./assets/images/price-list2.jpg')">
                <div>
                  <h6>Product Photography</h6>
                </div>
              </div>
            </a>
            <a href="#" class="col-4 about-photobox-grid">
              <div class="row about-photobox-img-container" style="background-image:url('./assets/images/price-list3.jpg')">
                <div>
                  <h6>Portfolio Photography</h6>
                </div>
              </div>
            </a>
            <a href="#" class="col-4 about-photobox-grid">
              <div class="row about-photobox-img-container" style="background-image:url('./assets/images/bg-about-me.jpg')">
                <div>
                  <h6>Event Photography</h6>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
