<div class = "container-fluid pricing-plan-wrapper">
  <div class="row">
    <div class="container-fluid">
      <div class="row">
        <div class="container">
          <div class="row">
              <div id="section-title-pricing-plan">Fonok's Photobox</div>
          </div>
        </div>
        <div class="container-fluid section-title-bg">
          <div style="background-image:url('../../assets/images/price-list3.jpg')"></div>
        </div>
        <!--
        <div class="container-fluid" id = "particle-container">
          <particles [style]="particleStyle" [params]="particleParams" class="row"></particles>
        </div>
        -->
      </div>
    </div>
    <div class="container">
      <div class="row">
        <p class="pricing-plan-sub-header">WHAT WE DO</p>
      </div>
      <div class="row">
        <h1 class="pricing-plan-feature-header">Our Features</h1>
      </div>
      <div class="row">
        <div class="header-bottom-line"></div>
      </div>
      <div class="row pricing-plan-feature-content">
        <div class="pricing-plan-feature-boyan col-4">
          <p>
            We push boundaries through thinking
            not just about your brand, your website, or your digital
            marketing – but how all of the digital elements of
            your business work together. It’s at the
            intersection of these two areas that we help.
          </p>
        </div>
        <div class="col-8 skill-item-wrapper">
          <div class="row">
            <!--######  SKILL BARS  ######-->
            <div class="col-6 skill-item">
              <div class="row skill-item-text-wrapper">
                <div class="col-8"><p class="skill-item-header">Camerawork</p></div>
                <div class="col-4"><p class="skill-item-amount">87%</p></div>
              </div>
              <div class="row">
                <div class="skill-item-bar-wrapper">
                  <div class="skill-item-bar" style="width: 87%;"></div>
                </div>
              </div>
            </div>

            <!--######  SKILL BARS  ######-->
            <div class="col-6 skill-item">
              <div class="row skill-item-text-wrapper">
                <div class="col-8"><p class="skill-item-header">Directing</p></div>
                <div class="col-4"><p class="skill-item-amount">96%</p></div>
              </div>
              <div class="row">
                <div class="skill-item-bar-wrapper">
                  <div class="skill-item-bar" style="width: 96%;"></div>
                </div>
              </div>
            </div>

            <!--######  SKILL BARS  ######-->
            <div class="col-6 skill-item">
              <div class="row skill-item-text-wrapper">
                <div class="col-8"><p class="skill-item-header">Product Shoot</p></div>
                <div class="col-4"><p class="skill-item-amount">82%</p></div>
              </div>
              <div class="row">
                <div class="skill-item-bar-wrapper">
                  <div class="skill-item-bar" style="width: 78%;"></div>
                </div>
              </div>
            </div>

            <!--######  SKILL BARS  ######-->
            <div class="col-6 skill-item">
              <div class="row skill-item-text-wrapper">
                <div class="col-8"><p class="skill-item-header">Lighting setup</p></div>
                <div class="col-4"><p class="skill-item-amount">90%</p></div>
              </div>
              <div class="row">
                <div class="skill-item-bar-wrapper">
                  <div class="skill-item-bar" style="width: 90%;"></div>
                </div>
              </div>
            </div>
            <!--######  SKILL BARS  ######-->
            <div class="col-6 skill-item">
              <div class="row skill-item-text-wrapper">
                <div class="col-8"><p class="skill-item-header">Fashion Shoot</p></div>
                <div class="col-4"><p class="skill-item-amount">88%</p></div>
              </div>
              <div class="row">
                <div class="skill-item-bar-wrapper">
                  <div class="skill-item-bar"  style="width: 88%;"></div>
                </div>
              </div>
            </div>
              <!--######  SKILL BARS  ######-->
            <div class="col-6 skill-item">
              <div class="row skill-item-text-wrapper">
                <div class="col-8"><p class="skill-item-header">Photo Editing</p></div>
                <div class="col-4"><p class="skill-item-amount">82%</p></div>
              </div>
              <div class="row">
                <div class="skill-item-bar-wrapper">
                  <div class="skill-item-bar" style="width: 82%;"></div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="row">
        <p class="pricing-plan-sub-header">HOW MUCH</p>
      </div>
      <div class="row">
        <h1 class="pricing-plan-feature-header">Our pricing plan</h1>
      </div>
      <div class="row">
        <div class="header-bottom-line"></div>
      </div>

      <div class="row">
        <div class="col-3 price-box">
          <div class="row pricing-title-container">
            <div class="container-fluid price-tag" style="background-image: url('../../assets/images/bg-about-me.jpg')">
              <div class="row">
                <h6 class="pricing-plan-category-header">MINIMAL</h6>
              </div>
              <div class="row pricing-plan-price justify-center">
                <span class="content-center">$</span>
                79
              </div>
            </div>
          </div>
          <div class="row">
            <div class="pricing-details container-fluid">
              <div class="row justify-center">
                <p class="pricing-details-text">15 photos</p>
              </div>
              <div class="row justify-center pricing-details-end">
                <div class="pricing-details-text-bar"></div>
              </div>
              <div class="row justify-center">
                <p class="pricing-details-text">1 location</p>
              </div>
              <div class="row justify-center pricing-details-end">
                <div class="pricing-details-text-bar"></div>
              </div>
              <div class="row justify-center">
                <p class="pricing-details-text">Digital files included</p>
              </div>
              <div class="row justify-center pricing-details-end">
                <div class="pricing-details-text-bar"></div>
              </div>
              <div class="row justify-center">
                <p class="pricing-details-text">No make-up</p>
              </div>
              <div class="row justify-center pricing-details-end">
                <div class="pricing-details-text-bar"></div>
              </div>
            </div>
          </div>
          <div class="row pricing-plan-button-wrapper">
            <a href="#" class="pricing-plan-order-button">Purchase</a>
          </div>
        </div>
        <div class="col-3 price-box">
          <div class="row pricing-title-container">
            <div class="container-fluid price-tag" style="background-image: url('../../assets/images/price-list2.jpg')">
              <div class="row">
                <h6 class="pricing-plan-category-header">STANDARD</h6>
              </div>
              <div class="row pricing-plan-price justify-center">
                <span class="content-center">$</span>
                99
              </div>
            </div>
          </div>
          <div class="row">
            <div class="pricing-details container-fluid">
              <div class="row justify-center">
                <p class="pricing-details-text">30 photos</p>
              </div>
              <div class="row justify-center pricing-details-end">
                <div class="pricing-details-text-bar"></div>
              </div>
              <div class="row justify-center">
                <p class="pricing-details-text">1-2 nearby location</p>
              </div>
              <div class="row justify-center pricing-details-end">
                <div class="pricing-details-text-bar"></div>
              </div>
              <div class="row justify-center">
                <p class="pricing-details-text">Digital files included</p>
              </div>
              <div class="row justify-center pricing-details-end">
                <div class="pricing-details-text-bar"></div>
              </div>
              <div class="row justify-center">
                <p class="pricing-details-text">No make-up</p>
              </div>
              <div class="row justify-center pricing-details-end">
                <div class="pricing-details-text-bar"></div>
              </div>
            </div>
          </div>
          <div class="row pricing-plan-button-wrapper">
            <a href="#" class="pricing-plan-order-button">Purchase</a>
          </div>
        </div>
        <div class="col-3 price-box">
          <div class="row pricing-title-container">
            <div class="container-fluid price-tag" style="background-image: url('../../assets/images/price-list3.jpg')">
              <div class="row">
                <h6 class="pricing-plan-category-header">PREMIUM</h6>
              </div>
              <div class="row pricing-plan-price justify-center">
                <span class="content-center">$</span>
                129
              </div>
            </div>
          </div>
          <div class="row">
            <div class="pricing-details container-fluid">
              <div class="row justify-center">
                <p class="pricing-details-text">45 photos</p>
              </div>
              <div class="row justify-center pricing-details-end">
                <div class="pricing-details-text-bar"></div>
              </div>
              <div class="row justify-center">
                <p class="pricing-details-text">Multiple location</p>
              </div>
              <div class="row justify-center pricing-details-end">
                <div class="pricing-details-text-bar"></div>
              </div>
              <div class="row justify-center">
                <p class="pricing-details-text">Digital files included</p>
              </div>
              <div class="row justify-center pricing-details-end">
                <div class="pricing-details-text-bar"></div>
              </div>
              <div class="row justify-center">
                <p class="pricing-details-text">Make-up included</p>
              </div>
              <div class="row justify-center pricing-details-end">
                <div class="pricing-details-text-bar"></div>
              </div>
            </div>
          </div>
          <div class="row pricing-plan-button-wrapper">
            <a href="#" class="pricing-plan-order-button">Purchase</a>
          </div>
        </div>
        <div class="col-3 price-box">
          <div class="row pricing-title-container">
            <div class="container-fluid price-tag" style="background-image: url('../../assets/images/bg-about-me.jpg')">
              <div class="row">
                <h6 class="pricing-plan-category-header">LUXURY</h6>
              </div>
              <div class="row pricing-plan-price justify-center">
                <span class="content-center">$</span>
                159
              </div>
            </div>
          </div>
          <div class="row">
            <div class="pricing-details container-fluid">
              <div class="row justify-center">
                <p class="pricing-details-text">60 photos</p>
              </div>
              <div class="row justify-center pricing-details-end">
                <div class="pricing-details-text-bar"></div>
              </div>
              <div class="row justify-center">
                <p class="pricing-details-text">Multiple location</p>
              </div>
              <div class="row justify-center pricing-details-end">
                <div class="pricing-details-text-bar"></div>
              </div>
              <div class="row justify-center">
                <p class="pricing-details-text">Digital files included</p>
              </div>
              <div class="row justify-center pricing-details-end">
                <div class="pricing-details-text-bar"></div>
              </div>
              <div class="row justify-center">
                <p class="pricing-details-text">Make-up & Hairstyle</p>
              </div>
              <div class="row justify-center pricing-details-end">
                <div class="pricing-details-text-bar"></div>
              </div>
            </div>
          </div>
          <div class="row pricing-plan-button-wrapper">
            <a href="#" class="pricing-plan-order-button">Purchase</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
