<header>
  <div class="container header">
    <div class="row justify-center header-content-wrapper">
      <div class="col-3 content-center">
        <div class="row header-logo-wrapper">
          <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="fonok-logo" style="background-image: url(../../../../assets/images/signature.png)"></a>
        </div>
      </div>
      <nav class="col-9 content-center">
        <ul class="fonok-menubar row">
          <li class="col"><a routerLink="/home" routerLinkActive="router-link-active" >home</a></li>
          <li class="col"><a routerLink="/photobox" routerLinkActive="router-link-active" >photobox</a></li>
          <li class="col"><a routerLink="/services" routerLinkActive="router-link-active" >services</a></li>
          <li class="col"><a routerLink="/pricingplan" routerLinkActive="router-link-active">pricing plan</a></li>
          <li class="col"><a routerLink="/aboutus" routerLinkActive="router-link-active" >about us</a></li>
          <li class="col"><a routerLink="/contactus" routerLinkActive="router-link-active">contact us</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
