<div class="container-fluid">
  <div class="home-about-container home-section row">
    <div class="container">
      <div class="row home-about-parts-container">
        <div class="col-lg-9 content-center">
          <div class="row">
            <p class="home-about-greetings primary-red-color">Nice to meet you</p>
          </div>
          <div class="row">
            <span class="primary-white-color">
              <p class="home-about-name-dummy primary-white-color">My Name Is</p><p class="home-about-name-main primary-white-color">Md. Iftekhar Uddin Emon</p>
            </span>
          </div>
          <div class="row">
            <p class="home-about-designation">Founder of Fonok's Photobox</p>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="row">
                <p class="home-about-details">I was born in the UK and raised in the African desert by bushmen.
                    Okay, that might be a stretch – my parents were from the UK, but
                    I did grow up shaking Kalahari sand out of my shoes.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-lg-6">
                <div class="row">
                  <img src="./assets/images/lens-hood.png" alt="camera-icon.png" class="home-about-icon content-center">
                  <span class="home-about-icon-counter primary-red-color">132</span>
                  <span class="col-5 home-about-icon-details content-center ">Pounds of Equipment</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row">
                  <img src="./assets/images/camera-icon.png" alt="camera-icon.png" class="home-about-icon content-center">
                  <span class="home-about-icon-counter primary-red-color">280</span>
                  <span class="col-5 home-about-icon-details content-center ">Finished Photosessions</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row">
                  <img src="./assets/images/photographer-umbrella.png" alt="camera-icon.png" class="home-about-icon content-center">
                  <span class="home-about-icon-counter primary-red-color">195</span>
                  <span class="col-5 home-about-icon-details content-center ">Studio Sessions</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row">
                  <img src="./assets/images/camera-focus.png" alt="camera-icon.png" class="home-about-icon content-center">
                  <span class="home-about-icon-counter primary-red-color">253</span>
                  <span class="col-5 home-about-icon-details content-center ">Happy Clients</span>
                </div>
              </div>
          </div>
          <div class="row home-about-signature">
            <div class="col-1 content-center">
              <div class="row">
                <p class="home-about-signature-title">
                    Best
                    <br>
                    Regards
                </p>
              </div>
            </div>
            <div class="col-4 content-center">
              <div class="row">
                  <img src="./assets/images/signature.png" alt="Signature" class="home-about-signature-image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
