.testimonial-slider-container-wrapper{
  overflow:hidden;
  height: 100vh;
  width: 100vw;
  background-color: #222;
  background-size: cover;
  background-position: center center;
}

.testimonial-slider-box{
  margin-left: -15px;
  margin-right: -15px;
}
#testimonial-slider-container{
  /*background-color: #222;*/
}
.testimonial-slider{
  position: relative;
  float: left;
  width: 100vw;
  height:100vh;
  padding-bottom:15px;
  transition:1s;
  /*background-color: #222;*/
  transition-timing-function: cubic-bezier(.79,.12,.4,1.03);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 0px;
}

.testimonial-slider-bubble{
  padding-top:10px;
  padding-bottom:10px;
}

.testimonial-dot-wrapper{
  margin-top: -2.25em;
}
.testimonial-dot{
  cursor: pointer;
  height: 0.5em;
  width: 0.5em;
  opacity: 0.5;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: 0.3s;
}

.testimonial-dot:hover{
  background-color:#717171;
}

.testimonial-active{
  background-color:#717171;
}

.testimonial-slider-content-box{
  height: 100%;
}

.testimonial-quote > div::before {
  content: "“";
  font-size: 72px;
  line-height: 0.9em;
  color: #f75e50;
}

.testimonial-quote-text{
  color: #e5e5e5;
  font-family: 'Roboto',sans-serif;
  letter-spacing: 2px;
  font-weight: 500;
  line-height: 100%;
  text-align: center;
}


.testimonial-author-img{
  height: 140px;
  width: 140px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-bottom:1em;
}

.testimonial-author-name{
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.testimonial-author-designation{
  color: #575757;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
}
.testimonial-author-company{
  color: #e5e5e5;
  line-height: 4px;
  letter-spacing: 1px;
  font-size: 0.9em;
}
