<div _ngcontent-c6="" class="container-fluid">
  <div _ngcontent-c6="" class="row testimonial-banner-section-wrapper">
    <div _ngcontent-c6="" class="container-fluid">
      <div _ngcontent-c6="" class="row">
        <div _ngcontent-c6="" class="testimonial-slider-container-wrapper container-fluid"
          style="background-color:#000;">
          <div _ngcontent-c6="" class="testimonial-slider-box">
            <div _ngcontent-c6="" id="testimonial-slider-container" style="width: 5760px;">
              <div _ngcontent-c6="" class="testimonial-slider" style="margin-left: -100%;">
                <div _ngcontent-c6="" class="row testimonial-slider-content-box">
                  <div _ngcontent-c6="" class="container-fluid content-center">
                    <div _ngcontent-c6="" class="row testimonial-quote justify-center">
                      <div _ngcontent-c6="" class="justify-center"><img _ngcontent-c6=""
                          src="../../../assets/images/inverted-commas.png"></div>
                    </div>
                    <div _ngcontent-c6="" class="row content-center justify-center">
                      <div _ngcontent-c6="" class="testimonial-author-img">
                        <div _ngcontent-c6="" style="background-image:url('./assets/images/tanim.jpg')"></div>
                      </div>
                    </div>
                    <div _ngcontent-c6="" class="row content-center justify-center">
                      <div _ngcontent-c6="" class="col-6 testimonial-quote-text-wrapper">
                        <p _ngcontent-c6="" class="testimonial-quote-text"> Lorem ipsum dolor sit amet, consectetur
                          adipiscing elit. Quisque est tortor, ultricies eget suscipit sit amet, finibus nec arcu. Etiam
                          venenatis efficitur mollis. Nulla ac rhoncus risus, et semper nisl. Aliquam vehicula orci sed
                          ex commodo mattis. Aliquam erat volutpat. Nunc egestas sapien porttitor ante dapibus dapibus.
                          Morbi lacinia mauris id rhoncus egestas. Sed ultrices eros vel fringilla molestie. </p>
                      </div>
                    </div>
                    <div _ngcontent-c6=""
                      class="row content-center justify-center testimonial-author-name primary-red-color"> Md.
                      Fahad-Uz-Zaman Khan </div>
                    <div _ngcontent-c6="" class="row content-center justify-center testimonial-author-designation">
                      Junior Software Engineer </div>
                  </div>
                </div>
              </div>
              <div _ngcontent-c6="" class="testimonial-slider" style="margin-left: -100%;">
                <div _ngcontent-c6="" class="row testimonial-slider-content-box">
                  <div _ngcontent-c6="" class="container-fluid content-center">
                    <div _ngcontent-c6="" class="row testimonial-quote justify-center">
                      <div _ngcontent-c6="" class="justify-center"><img _ngcontent-c6=""
                          src="../../../assets/images/inverted-commas.png"></div>
                    </div>
                    <div _ngcontent-c6="" class="row content-center justify-center">
                      <div _ngcontent-c6="" class="testimonial-author-img">
                        <div _ngcontent-c6="" style="background-image:url('./assets/images/tanim.jpg')"></div>
                      </div>
                    </div>
                    <div _ngcontent-c6="" class="row content-center justify-center">
                      <div _ngcontent-c6="" class="col-6 testimonial-quote-text-wrapper">
                        <p _ngcontent-c6="" class="testimonial-quote-text"> Lorem ipsum dolor sit amet, consectetur
                          adipiscing elit. Quisque est tortor, ultricies eget suscipit sit amet, finibus nec arcu. Etiam
                          venenatis efficitur mollis. Nulla ac rhoncus risus, et semper nisl. Aliquam vehicula orci sed
                          ex commodo mattis. Aliquam erat volutpat. Nunc egestas sapien porttitor ante dapibus dapibus.
                          Morbi lacinia mauris id rhoncus egestas. Sed ultrices eros vel fringilla molestie. </p>
                      </div>
                    </div>
                    <div _ngcontent-c6=""
                      class="row content-center justify-center testimonial-author-name primary-red-color"> Md.
                      Fahad-Uz-Zaman Khan </div>
                    <div _ngcontent-c6="" class="row content-center justify-center testimonial-author-designation">
                      Junior Software Engineer </div>
                  </div>
                </div>
              </div>
              <div _ngcontent-c6="" class="testimonial-slider" style="margin-left: 0%;">
                <div _ngcontent-c6="" class="row testimonial-slider-content-box">
                  <div _ngcontent-c6="" class="container-fluid content-center">
                    <div _ngcontent-c6="" class="row testimonial-quote justify-center">
                      <div _ngcontent-c6="" class="justify-center"><img _ngcontent-c6=""
                          src="../../../assets/images/inverted-commas.png"></div>
                    </div>
                    <div _ngcontent-c6="" class="row content-center justify-center">
                      <div _ngcontent-c6="" class="testimonial-author-img">
                        <div _ngcontent-c6="" style="background-image:url('./assets/images/tanim.jpg')"></div>
                      </div>
                    </div>
                    <div _ngcontent-c6="" class="row content-center justify-center">
                      <div _ngcontent-c6="" class="col-6 testimonial-quote-text-wrapper">
                        <p _ngcontent-c6="" class="testimonial-quote-text"> Lorem ipsum dolor sit amet, consectetur
                          adipiscing elit. Quisque est tortor, ultricies eget suscipit sit amet, finibus nec arcu. Etiam
                          venenatis efficitur mollis. Nulla ac rhoncus risus, et semper nisl. Aliquam vehicula orci sed
                          ex commodo mattis. Aliquam erat volutpat. Nunc egestas sapien porttitor ante dapibus dapibus.
                          Morbi lacinia mauris id rhoncus egestas. Sed ultrices eros vel fringilla molestie. </p>
                      </div>
                    </div>
                    <div _ngcontent-c6=""
                      class="row content-center justify-center testimonial-author-name primary-red-color"> Md.
                      Fahad-Uz-Zaman Khan </div>
                    <div _ngcontent-c6="" class="row content-center justify-center testimonial-author-designation">
                      Junior Software Engineer </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div _ngcontent-c6="" class="row testimonial-dot-wrapper">
        <div _ngcontent-c6="" class="container-fluid testimonial-slider-bubble">
          <div _ngcontent-c6="" class="row justify-content-center"><span _ngcontent-c6=""
              class="testimonial-dot align-self-center"></span><span _ngcontent-c6=""
              class="testimonial-dot"></span><span _ngcontent-c6="" class="testimonial-dot testimonial-active"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
