
<div class="container-fluid">
  <div class="row banner-section-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="slider-container-wrapper container-fluid">
              <div class="slider-box">
                <div id="slider-container">
                    <div class="slider" style="background-image:url('../../../assets/images/burger.jpg')">1</div>
                    <div class="slider" style="background-image:url('../../../assets/images/pizza.jpg')">2</div>
                    <div class="slider" style="background-image:url('../../../assets/images/cover.jpg')">3</div>
                </div>
              </div>
            </div>
        </div>
        <div class="row dot-wrapper">
            <div class="container-fluid slider-bubble">
                <div class="row justify-content-center">
                    <span class="dot active align-self-center" (click)="slider.currentSlide(0)"></span>
                    <span class="dot" (click)="slider.currentSlide(1)"></span>
                    <span class="dot" (click)="slider.currentSlide(2)"></span>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-4 col-md-4 col-sm-4">
      <div class="row">
        <div class="photo-grid-square photo-img-container" style="background-image: url('../../../assets/images/cover.jpg')">
          <div>
            <h6>View Photo</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4 col-sm-4">
      <div class="row">
        <div class="photo-grid-square photo-img-container" style="background-image: url('../../../assets/images/burger.jpg')">
          <div>
            <h6>View Photo</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4 col-sm-4">
      <div class="row">
        <div class="photo-grid-tall photo-img-container" style="background-image: url('../../../assets/images/pizza.jpg')">
          <div>
            <h6>View Photo</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8 col-lg-8 col-sm-8">
      <div class="row">
        <div class="photo-grid-wide photo-img-container" style="background-image: url('../../../assets/images/cover.jpg')">
          <div>
            <h6>View Photo</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6 col-sm-6">
      <div class="row">
        <div class="photo-grid-medium photo-img-container" style="background-image: url('../../../assets/images/cover.jpg')">
          <div>
            <h6>View Photo</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6 col-sm-6">
      <div class="row">
        <div class="photo-grid-medium photo-img-container" style="background-image: url('../../../assets/images/cover.jpg')">
          <div>
            <h6>View Photo</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="photo-grid-full photo-img-container" style="background-image: url('../../../assets/images/cover.jpg')">
          <div>
            <h6>View Photo</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
