<mat-card>
  <div class="container-fluid">
    <div class="row" style = "height: 40px; padding: 0px;">
      <mat-toolbar color='accent'>
        <mat-card-header>Add Category</mat-card-header>
      </mat-toolbar>
    </div>
    <div class="row">
      <form class= "category-form container-fluid">
        <mat-form-field class="row category-form-input">
          <input matInput placeholder="Category Name">
        </mat-form-field>
        <div class="row">
            <div class="col-2 offset-8">
                <button type="submit" mat-raised-button class="offset-6" color="accent">submit</button>
            </div>
        </div>
      </form>
    </div>
  </div>


</mat-card>
