<div class="container-fluid home-service-wrapper">
  <div class = "row">
      <div  class="container content-center">
        <div  class="row">
          <p  class="about-us-sub-header">WHAT WE Offer</p>
        </div>
        <div  class="row">
          <h1  class="about-us-feature-header">Our SERVICES</h1>
        </div>
        <div  class="row">
          <div  class="header-bottom-line"></div>
        </div>
        <div  class="row">
          <div  class="col-12 col-lg-4 col-md-6 col-sm-12">
            <div  class="home-service-box"
              style="background-image: url('../../../assets/images/bg-about-me.jpg')">
              <div  class="home-service-box-container">
                <div  class="row home-service-logo-wrapper justify-center">
                  <img src="./assets//images/camera-focus.png"></div>
                <div  class="row home-service-title-wrapper justify-center">
                  <h6 >Product Photography</h6>
                </div>
                <div  class="row home-service-details-wrapper justify-center">
                  <p >I have a master's degree in civil engineering from the University of Southampton</p>
                </div>
                <div  class="row home-service-button justify-center"><a  class="button-class"
                    href="#">See More</a></div>
              </div>
            </div>
          </div>
          <div  class="col-12 col-lg-4 col-md-6 col-sm-12">
            <div  class="home-service-box"
              style="background-image: url('../../../assets/images/price-list2.jpg')">
              <div  class="home-service-box-container">
                <div  class="row home-service-logo-wrapper justify-center"><img
                    src="./assets//images/camera-focus.png"></div>
                <div  class="row home-service-title-wrapper justify-center">
                  <h6 >Fashion Photography</h6>
                </div>
                <div  class="row home-service-details-wrapper justify-center">
                  <p >I have a master's degree in civil engineering from the University of Southampton</p>
                </div>
                <div  class="row home-service-button justify-center"><a  class="button-class"
                    href="#">See More</a></div>
              </div>
            </div>
          </div>
          <div  class="col-12 col-lg-4 col-md-6 col-sm-12">
            <div  class="home-service-box"
              style="background-image: url('../../../assets/images/price-list3.jpg')">
              <div  class="home-service-box-container">
                <div  class="row home-service-logo-wrapper justify-center"><img
                    src="./assets//images/camera-focus.png"></div>
                <div  class="row home-service-title-wrapper justify-center">
                  <h6 >Comercial Photography</h6>
                </div>
                <div  class="row home-service-details-wrapper justify-center">
                  <p >I have a master's degree in civil engineering from the University of Southampton</p>
                </div>
                <div  class="row home-service-button justify-center"><a  class="button-class"
                    href="#">See More</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

