<div class="container-fluid home-service-wrapper">
  <div class="row home-service-container justify-center">
    <div class="container content-center">
      <div class="row">
        <!--##### SERVICES ####-->
        <div class="col-3">
          <div class="row home-service-logo-wrapper">
            <img src="./assets//images/camera-focus.png">
          </div>
          <div class="row home-service-title-wrapper">
            <h6>Client Focus</h6>
          </div>
          <div class="row home-service-details-wrapper">
            <p>I have a master's degree in civil engineering from the University of Southampton</p>
          </div>
          <div class="row home-service-button">
            <a href="#" class="button-class">See More</a>
          </div>
        </div>
        <!--##### SERVICES ####-->
        <div class="col-3">
          <div class="row home-service-logo-wrapper">
            <img src="./assets//images/camera-focus.png">
          </div>
          <div class="row home-service-title-wrapper">
            <h6>Client Focus</h6>
          </div>
          <div class="row home-service-details-wrapper">
            <p>I have a master's degree in civil engineering from the University of Southampton</p>
          </div>
          <div class="row home-service-button">
            <a href="#" class="button-class">See More</a>
          </div>
        </div>
        <!--##### SERVICES ####-->
        <div class="col-3">
          <div class="row home-service-logo-wrapper">
            <img src="./assets//images/camera-focus.png">
          </div>
          <div class="row home-service-title-wrapper">
            <h6>Client Focus</h6>
          </div>
          <div class="row home-service-details-wrapper">
            <p>I have a master's degree in civil engineering from the University of Southampton</p>
          </div>
          <div class="row home-service-button">
            <a href="#" class="button-class">See More</a>
          </div>
        </div>
        <!--##### SERVICES ####-->
        <div class="col-3">
            <div class="row home-service-logo-wrapper">
              <img src="./assets//images/camera-focus.png">
            </div>
            <div class="row home-service-title-wrapper">
              <h6>Client Focus</h6>
            </div>
            <div class="row home-service-details-wrapper">
              <p>I have a master's degree in civil engineering from the University of Southampton</p>
            </div>
            <div class="row home-service-button">
              <a href="#" class="button-class">See More</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
