<div class="container-fluid">
  <div class="row">
    <div class="slider" style="
    background-image: url('./assets/images/swift-sunglass.jpg');">
    </div>
  </div>
  <div class="row">
    <div class="photo-grid-container">
      <div class="photo-square photo-grid-box">
        <div class="photo-container" style="
        background-image: url('./assets/images/shoe1.jpg');">
        </div>
        <div class="photo-container-overlay">
            <i class="far fa-eye photo-view-icon"></i>
        </div>
      </div>

      <div class="photo-square photo-grid-box">
        <div class="photo-container" style="
        background-image: url('./assets/images/sunglass1.jpg');">
        </div>
        <div class="photo-container-overlay">
          <i class="far fa-eye photo-view-icon"></i>
        </div>
      </div>

      <div class="photo-tall photo-grid-box">
        <div class="photo-container" style="
        background-image: url('./assets/images/DSC_4948.jpg');">
        </div>
        <div class="photo-container-overlay">
          <i class="far fa-eye photo-view-icon"></i>
        </div>
      </div>

      <div class="photo-wide photo-grid-box">
        <div class="photo-container" style="
        background-image: url('./assets/images/DSC_9604.jpg');">
        </div>
        <div class="photo-container-overlay">
          <i class="far fa-eye photo-view-icon"></i>
        </div>
      </div>

      <div class="photo-fat photo-grid-box">
        <div class="photo-container" style="
        background-image: url('./assets/images/DSC_9702.jpg');">
        </div>
        <div class="photo-container-overlay">
          <i class="far fa-eye photo-view-icon"></i>
        </div>
      </div>

      <div class="photo-medium photo-grid-box">
        <div class="photo-container" style="
        background-image: url('./assets/images/DSC_9777.jpg');">
        </div>
        <div class="photo-container-overlay">
          <i class="far fa-eye photo-view-icon"></i>
        </div>
      </div>

      <div class="photo-medium photo-grid-box">
        <div class="photo-container" style="
        background-image: url('./assets/images/DSC_9749.jpg');">
        </div>
        <div class="photo-container-overlay">
          <i class="far fa-eye photo-view-icon"></i>
        </div>
      </div>

    </div>
  </div>
</div>
