<div class="container-fluid photobox-section-wrapper">
  <div class="row">
    <div class="container photobox-section-container">

      <div class="row photobox-category-section-wrapper">
        <div class="col-12 col-lg-6 col-md-6 col-sm-12 photobox-gallery-boyan">
          <div class="container">
            <div  class="row">
              <p  class="sub-header">Product</p>
            </div>
            <div  class="row">
              <h1  class="feature-header">Photography</h1>
            </div>
            <div  class="row">
              <div  class="header-bottom-line"></div>
            </div>
            <div class="row">
              <p  class="photobox-boyan">Through our best-in-class techniques and bespoke growth plans
                we assess digital problems and put in place strategies that lead to commercial success. This means
                achieving what matters most to you. Whether that’s creating a phenomenal brand, a highly-optimised
                eCommerce website, a digital marketing strategy that delivers quality leads – or all 3. We know how to
                make it happen. </p>
            </div>
            <div class="row">
                <a href="#" class="red-button-class">View Gallery</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-md-6 col-sm-12">
          <div class="photobox-gallery-img" style="background-image:url('../../assets/images/bg-about-me.jpg')"></div>
        </div>
        <div class="col-12 photobox-img-basic-gallery">
          <div class="row">
            <div class="col-6 col-lg-3 col-md-3">
              <div class="square-img-box" style="background-image: url('../../assets/images/bg-about-me.jpg')"></div>
            </div>
            <div class="col-6 col-lg-3 col-md-3">
              <div class="square-img-box" style="background-image: url('../../assets/images/price-list2.jpg')"></div>
            </div>
            <div class="col-6 col-lg-3 col-md-3">
              <div class="square-img-box" style="background-image: url('../../assets/images/price-list3.jpg')"></div>
            </div>
            <div class="col-6 col-lg-3 col-md-3">
              <div class="square-img-box" style="background-image: url('../../assets/images/bg-about-me.jpg')"></div>
            </div>
          </div>
        </div>
      </div>


      <div class="row photobox-category-section-wrapper">
        <div class="col-12 col-lg-6 col-md-6 col-sm-12">
          <div class="photobox-gallery-img" style="background-image:url('../../assets/images/bg-about-me.jpg')"></div>
        </div>
        <div class="col-12 col-lg-6 col-md-6 col-sm-12 photobox-gallery-boyan">
          <div class="container">
            <div  class="row justify-end">
              <p  class="sub-header text-right">Fashion</p>
            </div>
            <div  class="row justify-end">
              <h1  class="feature-header text-right">Photography</h1>
            </div>
            <div  class="row justify-end">
              <div  class="header-bottom-line"></div>
            </div>
            <div class="row jusity-end">
              <p  class="photobox-boyan text-right">Through our best-in-class techniques and bespoke growth plans
                we assess digital problems and put in place strategies that lead to commercial success. This means
                achieving what matters most to you. Whether that’s creating a phenomenal brand, a highly-optimised
                eCommerce website, a digital marketing strategy that delivers quality leads – or all 3. We know how to
                make it happen. </p>
            </div>
            <div class="row justify-end">
                <a href="#" class="red-button-class">View Gallery</a>
            </div>
          </div>
        </div>
        <div class="col-12 photobox-img-basic-gallery">
          <div class="row">
            <div class="col-6 col-lg-3 col-md-3">
              <div class="square-img-box" style="background-image: url('../../assets/images/bg-about-me.jpg')"></div>
            </div>
            <div class="col-6 col-lg-3 col-md-3">
              <div class="square-img-box" style="background-image: url('../../assets/images/price-list2.jpg')"></div>
            </div>
            <div class="col-6 col-lg-3 col-md-3">
              <div class="square-img-box" style="background-image: url('../../assets/images/price-list3.jpg')"></div>
            </div>
            <div class="col-6 col-lg-3 col-md-3">
              <div class="square-img-box" style="background-image: url('../../assets/images/bg-about-me.jpg')"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row photobox-category-section-wrapper">
        <div class="col-12 col-lg-6 col-md-6 col-sm-12 photobox-gallery-boyan">
          <div class="container">
            <div  class="row">
              <p  class="sub-header">Event</p>
            </div>
            <div  class="row">
              <h1  class="feature-header">Photography</h1>
            </div>
            <div  class="row">
              <div  class="header-bottom-line"></div>
            </div>
            <div class="row">
              <p  class="photobox-boyan">Through our best-in-class techniques and bespoke growth plans
                we assess digital problems and put in place strategies that lead to commercial success. This means
                achieving what matters most to you. Whether that’s creating a phenomenal brand, a highly-optimised
                eCommerce website, a digital marketing strategy that delivers quality leads – or all 3. We know how to
                make it happen. </p>
            </div>
            <div class="row">
                <a href="#" class="red-button-class">View Gallery</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-md-6 col-sm-12">
          <div class="photobox-gallery-img" style="background-image:url('../../assets/images/bg-about-me.jpg')"></div>
        </div>
        <div class="col-12 photobox-img-basic-gallery">
          <div class="row">
            <div class="col-6 col-lg-3 col-md-3">
              <div class="square-img-box" style="background-image: url('../../assets/images/bg-about-me.jpg')"></div>
            </div>
            <div class="col-6 col-lg-3 col-md-3">
              <div class="square-img-box" style="background-image: url('../../assets/images/price-list2.jpg')"></div>
            </div>
            <div class="col-6 col-lg-3 col-md-3">
              <div class="square-img-box" style="background-image: url('../../assets/images/price-list3.jpg')"></div>
            </div>
            <div class="col-6 col-lg-3 col-md-3">
              <div class="square-img-box" style="background-image: url('../../assets/images/bg-about-me.jpg')"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
