#slider-container{
  background-color: #222;
}
.slider-container-wrapper{
  overflow:hidden;
  height: 100vh;
  width: 100vw;
  background-color: #222;
}
.slider-box{
  margin-left: -15px;
  margin-right: -15px;
}
.slider{
  position: relative;
  float: left;
  width: 100vw;
  height:100vh;
  padding-bottom:15px;
  transition:1s;
  background-color: #222;
  transition-timing-function: cubic-bezier(.79,.12,.4,1.03);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 0px;
}

.slider-bubble{
  padding-top:10px;
  padding-bottom:10px;
}

.dot-wrapper{
  margin-top: -2.25em;
}
.dot{
  cursor: pointer;
  height: 0.5em;
  width: 0.5em;
  opacity: 0.5;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: 0.3s;
}

.dot:hover{
  background-color:#717171;
}

.active{
  background-color:#717171;
}


.photobox-section-wrapper{
  background-color: #010101;
  min-height: 100vh;
}

.photobox-section-container{
  min-height: 100vh;
  padding-top: 120px;
}

.photobox-section-container:before, .photobox-section-container:after {
  content: "";
  position: absolute;
  top: 120px;
  bottom: 0;
  width: 1px;
  background: #575757;
  z-index: 0;
}

.photobox-section-container:before {
  left: 33.33%;
}

.photobox-section-container:after {
  right: 33.33%;
}

.photobox-category-section-wrapper{
  padding-top: 35px;
  padding-bottom: 35px;
}

.photobox-gallery-boyan{
  z-index: 1;
  background-color: #010101;
}

.photobox-gallery-img{
  padding-bottom:80%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  box-shadow: 0 0 1px #575757;
}

.photobox-gallery-img::before{
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.3);;
}

.sub-header {
  color: #575757;
  background-color: #000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 2em 0 0;
}

.feature-header {
  color: #e5e5e5;
  background-color: #000;
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
}

.header-bottom-line {
  background-color: #f75e50;
  height: 1px;
  width: 40px;
  margin-left: 3px;
}

.photobox-boyan {
  padding-top: 15px;
  color: #878787;
  font-weight: 300;
  line-height: 30px;
}
.photobox-img-basic-gallery{
  padding-top:60px;
}
.square-img-box{
  padding-bottom:100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  box-shadow: 0 0 1px #575757;
}

.photo-square-grid{
  padding-bottom:100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.photobox-container{
  z-index: -1;
}

.photo-grid-container{
  display: grid;
  width: 100%;
  background-color: rgba(0,0,0,0.87);
  /*grid-template-columns: repeat(auto-fill, 8.316531vw);
  grid-auto-rows: 8.316531vw;*/
  grid-template-columns: repeat(auto-fill, 8.242%);
  grid-auto-rows: 8.205vw;
  grid-gap: 0.1%;
}

.photo-grid-container > div:nth-child(odd){
  background-color: black;
  color: #fff;
}
.photo-grid-container > div:nth-child(even){
  background-color: #eee;
  color: #000;
}

.photo{
  background: 0%;
}
.photo-grid-container > div:nth-child(1){
  grid-row-start: 1;
  grid-column-start: 1;
}

.photo-grid-container > .photo-square{
  position: relative;
  grid-row: auto/span 4;
  grid-column: auto/ span 4;
}

.photo-grid-container > .photo-tall{
  position: relative;
  grid-row: auto/span 8;
  grid-column: auto/ span 4;
}

.photo-grid-container > .photo-wide{
  position: relative;
  grid-row: auto/span 4;
  grid-column: auto/ span 8;
  background-color: #878787;
}

.photo-grid-container > .photo-fat{
  position: relative;
  grid-row: auto/span 8;
  grid-column: auto/ span 6;
  background-color: #878787;
}

.photo-grid-container > .photo-medium{
  position: relative;
  grid-row: auto/span 4;
  grid-column: auto/ span 6;
  background-color: #878787;
}

.photo-grid-box{
  cursor: pointer;
  transition: 0.5s;
}


.photo-grid-box > .photo-container{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position-x: center;
  background-position-y: center;
  cursor: pointer;
  transition: 0.75s;
}

.photo-grid-box > .photo-container-overlay{
  position: absolute;
  top: 100%;
  left: 0%;
  height: 100%;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  transition: 0.75s;
  opacity: 0;
}

.photo-grid-box > .photo-container-overlay .photo-view-icon{
  align-self: center;
  opacity: 0;
  transition: 0.75s;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 60%;
  padding: 20px;
  font-size: 1.5em;
}


.photo-grid-box:hover .photo-container-overlay{
  position: absolute;
  top:0px;
  left:0px;
  opacity: 1;
}

.photo-grid-box:hover .photo-container{
  filter: blur(2px) grayscale(100%);
}

.photo-grid-box:hover .photo-container-overlay .photo-view-icon{
  opacity: 0.4;

}

.photo-view-icon:hover{
  color: #f75e50;
}

.mat-paginator-outer-container .mat-paginator-container{
  background-color: #010101;
  color: #878787;
}
