.photobox-section-wrapper{
  background-color: #010101;
  min-height: 100vh;
}

.photobox-section-container{
  min-height: 100vh;
  padding-top: 120px;
}

.photobox-section-container:before, .photobox-section-container:after {
  content: "";
  position: absolute;
  top: 120px;
  bottom: 0;
  width: 1px;
  background: #575757;
  z-index: 0;
}

.photobox-section-container:before {
  left: 33.33%;
}

.photobox-section-container:after {
  right: 33.33%;
}

.photobox-category-section-wrapper{
  padding-top: 35px;
  padding-bottom: 35px;
}

.photobox-gallery-boyan{
  z-index: 1;
  background-color: #010101;
}

.photobox-gallery-img{
  padding-bottom:80%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  box-shadow: 0 0 1px #575757;
}

.photobox-gallery-img::before{
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.3);;
}

.sub-header {
  color: #575757;
  background-color: #000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 2em 0 0;
}

.feature-header {
  color: #e5e5e5;
  background-color: #000;
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
}

.header-bottom-line {
  background-color: #f75e50;
  height: 1px;
  width: 40px;
  margin-left: 3px;
}

.photobox-boyan {
  padding-top: 15px;
  color: #878787;
  font-weight: 300;
  line-height: 30px;
}
.photobox-img-basic-gallery{
  padding-top:60px;
}
.square-img-box{
  padding-bottom:100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  box-shadow: 0 0 1px #575757;
}
