<app-photobox-nav>


<div class="container-fluid">
    <div class="row">

      <div class="container-fluid photobox-banner">
          <div class="row">
              <div class="slider-container-wrapper container-fluid">
                <div class="slider-box">
                  <div id="slider-container">
                      <div class="slider" style="background-image:url('./assets/images/bg-about-me.jpg')">1</div>
                      <div class="slider" style="background-image:url('./assets/images/hublot1.jpg')">2</div>
                      <div class="slider" style="background-image:url('./assets/images/Watch.jpg')">3</div>
                  </div>
                </div>
              </div>
          </div>
          <div class="row dot-wrapper">
              <div class="container-fluid slider-bubble">
                  <div class="row justify-content-center">
                      <span class="dot active align-self-center" (click)="slider.currentSlide(0)"></span>
                      <span class="dot" (click)="slider.currentSlide(1)"></span>
                      <span class="dot" (click)="slider.currentSlide(2)"></span>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="container-fluid photobox-container">
    <div class="row">
      <div class="photo-grid-container">
        <div class="photo-square photo-grid-box">
          <div class="photo-container" style="
          background-image: url('./assets/images/bg-about-me.jpg');">
          </div>
          <!-- <div class="photo-container-overlay">
              <i class="far fa-eye photo-view-icon"></i>
          </div> -->
        </div>

        <div class="photo-square photo-grid-box">
          <div class="photo-container" style="
          background-image: url('./assets/images/bg-about-me.jpg');">
          </div>
          <!-- <div class="photo-container-overlay">
            <i class="far fa-eye photo-view-icon"></i>
          </div> -->
        </div>

        <div class="photo-tall photo-grid-box">
          <div class="photo-container" style="
          background-image: url('./assets/images/bg-about-me.jpg');">
          </div>
          <!-- <div class="photo-container-overlay">
            <i class="far fa-eye photo-view-icon"></i>
          </div> -->
        </div>

        <div class="photo-wide photo-grid-box">
          <div class="photo-container" style="
          background-image: url('./assets/images/bg-about-me.jpg');">
          </div>
          <!-- <div class="photo-container-overlay">
            <i class="far fa-eye photo-view-icon"></i>
          </div> -->
        </div>

        <div class="photo-fat photo-grid-box">
          <div class="photo-container" style="
          background-image: url('./assets/images/bg-about-me.jpg');">
          </div>
          <!-- <div class="photo-container-overlay">
            <i class="far fa-eye photo-view-icon"></i>
          </div> -->
        </div>

        <div class="photo-medium photo-grid-box">
          <div class="photo-container" style="
          background-image: url('./assets/images/bg-about-me.jpg');">
          </div>
          <!-- <div class="photo-container-overlay">
            <i class="far fa-eye photo-view-icon"></i>
          </div> -->
        </div>

        <div class="photo-medium photo-grid-box">
          <div class="photo-container" style="
          background-image: url('./assets/images/bg-about-me.jpg');">
          </div>
          <!-- <div class="photo-container-overlay">
            <i class="far fa-eye photo-view-icon"></i>
          </div> -->
        </div>

      </div>
    </div>

  </div>
  <div class="container-fluid">
    <mat-paginator class="row" [length]="length"
                  [pageSize]="pageSize"
                  [pageSizeOptions]="pageSizeOptions"
                  [hidePageSize]="true"
                  (page)="pageEvent = $event">
    </mat-paginator>
    <!-- <ul class="pagination">
      <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
      <li class="active"><a href="#!">1</a></li>
      <li class="waves-effect"><a href="#!">2</a></li>
      <li class="waves-effect"><a href="#!">3</a></li>
      <li class="waves-effect"><a href="#!">4</a></li>
      <li class="waves-effect"><a href="#!">5</a></li>
      <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul> -->
  </div>
  <app-footer></app-footer>
</app-photobox-nav>
