<div class="container-fluid products">
  <div class="container">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12 col-12 product-left-wrapper">
          <div class="row">
            <div class = "col-8">
                <span>01</span>
                <h4>Product</h4>
                <h1>Photography</h1>
                <img src="./assets/images/page1-1.jpg" alt="Product Left">
            </div>
            <div class="col-4">
              <article>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Sed sollicitudin nunc ligula, in tincidunt nisi egestas eu.
                  Sed ante odio, rhoncus et metus vel, dictum iaculis magna.
                  Proin dignissim, nisi ut tempor accumsan, metus quam pulvinar mi,
                  vel luctus purus nibh at metus. Donec maximus, elit a mollis porta,
                  lorem nulla fermentum diam, ut mollis nunc ipsum tempus ante.<!--
                  Donec tincidunt, enim malesuada sodales congue, sapien diam luctus nisi,
                    non viverra urna arcu scelerisque est. Pellentesque eu sem tortor.
                    Pellentesque ultrices, ex vehicula fermentum facilisis,
                  dui erat faucibus nisi, nec imperdiet odio massa id orci.-->
              </article>
            </div>
          </div>
        </div>
        <div class="col-xl-12 col-md-12 col-sm-12 col-12 product-right-wrapper">
          <div class="row">
            <div class = "col-8">
                <span>02</span>
                <h4>Fashion</h4>
                <h1>Photography</h1>
                <img src="./assets/images/pagew1-1.jpg" alt="Product Left">
            </div>
            <div class="col-4">
              <article>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Sed sollicitudin nunc ligula, in tincidunt nisi egestas eu.
                  Sed ante odio, rhoncus et metus vel, dictum iaculis magna.
                  Proin dignissim, nisi ut tempor accumsan, metus quam pulvinar mi,
                  vel luctus purus nibh at metus. Donec maximus, elit a mollis porta,
                  lorem nulla fermentum diam, ut mollis nunc ipsum tempus ante.<!--
                  Donec tincidunt, enim malesuada sodales congue, sapien diam luctus nisi,
                    non viverra urna arcu scelerisque est. Pellentesque eu sem tortor.
                    Pellentesque ultrices, ex vehicula fermentum facilisis,
                  dui erat faucibus nisi, nec imperdiet odio massa id orci.-->
              </article>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
